        body{
            display: block;
            justify-content: center;
            align-items: center;
        }
        .kotak1{ 
            display: flex;
            width: 150px;
            height: 150px;
            border: 2px solid black;  
            background-color: white;
            justify-content:  center;
            align-items: center;
        }
        .kotak2{ 
            display: flex;
            width: 150px;
            height: 150px;
            border: 2px solid black;  
            background-color: blue;
            justify-content:  center;
            align-items: center;
        }
        .kotak3{ 
            display: flex;
            width: 150px;
            height: 150px;
            border: 2px solid black;  
            background-color: red;
            justify-content:  center;
            align-items: center;
        }
        
        .container{
            display: flex;
            width: 500px;
            height: 500px;
            background-color: rgb(255, 207, 207);
            flex-wrap: wrap;
            gap: 10px;
            justify-content:  center;
            align-items: center;
        }